<div class="info">
  <p>Centro, Cuautla - Todos los días de 10AM - 8PM</p>
</div>
<header>
  <nav>
    <ul>

      <li><a [routerLink]="['/listar-productos']">Consultas</a></li>
      <li><a [routerLink]="['/carrito']" >Tienda</a></li>

    </ul>
  </nav>

  <!-- <div class="redes"> -->
    <!-- <a href="#"><img src="img/twitter.png" alt=""></a> -->
    <!-- <a href="#"><img src="img/instagram.png" alt=""></a> -->
    <!-- <a href="#"><img src="img/facebook.png" alt=""></a> -->
  <!-- </div> -->
</header>

<section>
  <h1>Farmacia</h1>

</section>
