<div class="container mt-5">
   <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTA DE PRODUCTOS</span>
          <input type="text"  [(ngModel)]="filtro" (change)="filtrarProductos()">
          <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
          <table *ngIf= "listProductos.length >0 " class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Marca</th>
                <th scope="col">Tipo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProductos">
                <td>{{ producto.producto }}</td>
                <td>{{ producto.marca }}</td>
                <td>{{ producto.tipo }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.precio | currency: 'USD'}}</td>
                <td>
                  <i [routerLink]="['/editar-producto', producto._id]"    class="fa-solid fa-pen-to-square text-primary"></i>
                  <i (click)="eliminarProducto(producto._id)" class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <h5  style = "text-align: start; margin-top: 10xp;" *ngIf= "listProductos.length == 0 ">No hay Productos para mostrar</h5>
        </div>
      </div>
    </div>
   </div>
</div>
