<div class="container">
  <h2>Carrito de Compras</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of listProductos">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ producto.producto }}</h5>
          <p class="card-text">Marca: {{ producto.marca }}</p>
          <p class="card-text">Tipo: {{ producto.tipo }}</p>
          <p class="card-text">Cantidad: {{ producto.cantidad }}</p>
          <p class="card-text">Precio: ${{ producto.precio }}</p>
          <button class="btn btn-primary" (click)="agregarProducto(producto)">Agregar</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Productos en el carrito</h2>
  <table  class="table table-success table-striped">
    <thead >
      <tr>
        <th>Producto</th>
        <th>Marca</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of carrito">
        <td>{{ producto.producto }}</td>
        <td>{{ producto.marca }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>{{ producto.precio }}</td>
        <td>
          <button class="btn btn-danger" (click)="eliminarProducto(producto)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="carrito.length === 0" class="text-center">El carrito está vacío</div>
  <div *ngIf="carrito.length > 0" class="text-center">Subtotal: {{ calcularSubtotal() }}</div>
  <div *ngIf="carrito.length > 0" class="text-center">Total: {{ calcularTotal() }}</div>
</div>
