<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ titulo | uppercase }}</span>
          <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
            <div class="mb-3">
              <input type="text" formControlName="producto"
              class="form-control form-control-lg" placeholder="Producto">
              <div class="text-danger"
              *ngIf="productoForm.get('producto')?.hasError('required')&& productoForm.get('producto')?.touched">
                <span>El nombre del producto <strong>es obligatorio</strong></span>

              </div>
            </div>

            <div class="mb-3">
              <input type="text" formControlName="marca"
              class="form-control form-control-lg" placeholder="Marca">
              <div class="text-danger"
              *ngIf="productoForm.get('marca')?.hasError('required')&& productoForm.get('marca')?.touched">
                <span>El nombre de la marca <strong>es obligatorio</strong></span>

              </div>
            </div>
            <div class="mb-3">
              <input type="text" formControlName="tipo"
              class="form-control form-control-lg" placeholder="Tipo">
              <div class="text-danger"
              *ngIf="productoForm.get('tipo')?.hasError('required')&& productoForm.get('tipo')?.touched">
                <span>El nombre del tipo <strong>es obligatorio</strong></span>

              </div>
            </div>
            <div class="mb-3">
              <input type="number" formControlName="cantidad"
              class="form-control form-control-lg" placeholder="Cantidad">
              <div class="text-danger"
              *ngIf="productoForm.get('cantidad')?.hasError('required')&& productoForm.get('cantidad')?.touched">
                <span>La cantidad <strong>es obligatorio</strong></span>

              </div>
            </div>
            <div class="mb-3">
              <input type="number" formControlName="precio"
              class="form-control form-control-lg" placeholder="Precio">
              <div class="text-danger"
              *ngIf="productoForm.get('precio')?.hasError('required')&& productoForm.get('precio')?.touched">
                <span>El precio <strong>es obligatorio</strong></span>

              </div>
            </div>
            <div class="mb-3">
              <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
              <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-lg-end">ACEPTAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
