/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Merienda';
	background: url(../src/assets/Farmacia.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
}

.info{
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	text-align: center;
}

header{
	max-width: 1500px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	align-items: center;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-between;
}
nav ul li{
	padding: 0 10px;
	/*background-color: rgb(89, 122, 194);*/

}

nav ul li a{
	text-decoration: none;
	color: #000;
}
nav ul li a:hover{
	text-decoration: underline;
}

.redes a img{
	width: 40px;
	margin: 0 10px;
}

section{
	padding-top: 100px;
	text-align: center;
	width: 100%;
}
section h1{
	font-size: 100px;
	color: #000;
}
section a{
	display: inline-block;
	font-size: 20px;
	display:inline-block;
	text-decoration: none;
	color: #000;
	border: 4px solid #8d7011;
	border-radius: 8px;
	padding: 5px 15px;

}
section a:hover{
	transition: 1s;
	background-color: #428306;
	color: #000;
}
